<!DOCTYPE html>
{% extends 'ui/base.html' %}
{% load static %}
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
        <title>{% block title %} Главная страница {% endblock title %}</title>
    {% endblock head %}
</head>
<body>
    {% block body %}
    {{ block.super }}
    {% block content %}
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus alias aspernatur cum deserunt dicta dolor eius iste maxime molestias necessitatibus nesciunt odio odit officia placeat qui, repellat sint sunt.</p>
    </div>
    {% endblock content %}
    {% endblock body %}
</body>
</html>