<!DOCTYPE html>
{% extends 'ui/base.html' %}
{% load static %}
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
        <title>{% block title %} Вход в личный кабинет {% endblock title %}</title>
    {% endblock head %}
</head>
<body>
    {% block body %}
    {% block navbar %}
        {{ block.super }}
    {% endblock navbar %}
    <div class="container mt-4">
        <div class="wrapper form-floating">
            <div class="row d-flex align-items-center justify-content-center" style="height: 50vh;">
                <div class="col col-sm-6 col-md-4 col-lg-3">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        {% if messages %}
                        <div class="messages">
                        {% for message in messages %}
                            <div class="error-message">
                                {{ message }}
                            </div>
                        {% endfor %}
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-outline-dark">Войти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock body %}
</body>
</html>