<!DOCTYPE html>
{% extends 'ui/base.html' %}
{% load static %}
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
        <title>{% block title %} Вход в личный кабинет {% endblock title %}</title>
    {% endblock head %}
</head>
<body>
    {% block body %}
    {% block navbar %}
        {{ block.super }}
    {% endblock navbar %}
    <div class="container mt-4" style="width: max-content;position: relative; left: 50%;float: left;">
        <div class="wrapper" style="position: relative; left: -50%; float: left;">
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <!--<div class="form-group">
            <label for="exampleInputEmail1">Электронная почта</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите почту">
            <small id="emailHelp" class="form-text text-muted">Мы никогда не передадим вашу электронную почту кому-либо.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Введите пароль">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Запомнить</label>
        </div>-->
            {% if messages %}
			<div class="messages">
			{% for message in messages %}
				<div class="error-message">
					{{ message }}
				</div>
			{% endfor %}
			</div>
		    {% endif %}
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
        </div>
    </div>
    {% endblock body %}
</body>
</html>