<!DOCTYPE html>
{% extends 'cabinet/base_cabinet.html' %}
{% load static %}
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
        <title>{% block title %} Добавление камер {% endblock title %}</title>
    {% endblock head %}
</head>
<body>
    {% block body %}
    {{ block.super }}
    {% block content %}
        <div class="container mt-4">
            <div class="row">
                <div class="col">
                    {% block add_cameras %}
                    <h2>Добавление камер</h2>
                    <div class="row">
                        <div class="col">
                            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Добавить камеру</button>
                        </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Добавить камеру</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post">
                                            {% csrf_token %}
                                            {{ form.as_p }}
                                            {% if messages %}
                                            <div class="messages">
                                            {% for message in messages %}
                                                <div class="error-message">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                            </div>
                                            {% endif %}
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                <button type="submit" class="btn btn-primary">Добавить</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="mt-4">Камеры</h3>
                    <div class="row">
                        <div class="col">
                            {% block cameras_table %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Название</th>
                                            <th scope="col">Ссылка</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for camera in cameras %}
                                        <tr>
                                            <td>{{ camera.name }}</td>
                                            <td>{{ camera.url }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endblock cameras_table %}
                        </div>
                    </div>
                    {% endblock add_cameras %}
                </div>
            </div>
        </div>
    {% endblock content %}
    {% endblock body %}
</body>
</html>