<!DOCTYPE html>
{% extends 'cabinet/base_cabinet.html' %}
{% load static %}
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
        <title>{% block title %} Камеры {% endblock title %}</title>
    {% endblock head %}
</head>
<body>
    {% block body %}
    {{ block.super }}
    {% block content %}
        <div class="container mt-4">
            <div class="row">
                <div class="col col-auto">
                    {% block sidebar %}
                    <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasStart" aria-controls="offcanvasStart">
                        Фильтры
                    </button>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel">
                        <div class="offcanvas-header">
                            <h5 id="offcanvasStartLabel">Информация</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            ...
                        </div>
                    </div>
                    {% endblock sidebar %}
                </div>
                <div class="col">
                    {% block cameras %}
                    <h2>Подключение к камере</h2>
                    <p>rtsp://addr:554/user=login&password=pswrd&channel=1&stream=0.cgi.</p>
                    <div class="row">
                        <div class="col">
                            <div class="camera">
                                <video src=""></video>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>
                    {% endblock cameras %}
                </div>
            </div>
        </div>
    {% endblock content %}
    {% endblock body %}
</body>
</html>