<!DOCTYPE html>
{% extends 'cabinet/base_cabinet.html' %}
{% load static %}
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
        <title>{% block title %} Личный кабинет {% endblock title %}</title>
    {% endblock head %}
</head>
<body>
    {% block body %}
    {{ block.super }}
    {% block content %}
    <div class="container">
        <h2 class="mt-4">Личный кабинет</h2>
        <div class="row">
            <div class="col col-3">
                <img class="img-fluid" width="300" height="300" src="{% static 'images/test/image.jpeg' %}" alt="User photo">
            </div>
            <div class="col col-5">
                <h3>Данные</h3>
                <div class="row">
                    <div class="col">
                        Username:
                    </div>
                    <div class="col">
                        {{ username }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        First name:
                    </div>
                    <div class="col">
                        {{ first_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Last name:
                    </div>
                    <div class="col">
                        {{ last_name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Email:
                    </div>
                    <div class="col">
                        {{ email }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Date joined:
                    </div>
                    <div class="col">
                        {{ date_joined }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content %}
    {% endblock body %}
</body>
</html>