<!DOCTYPE html>
{% extends 'cabinet/base_cabinet.html' %}
{% load static %}
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
        <title>{% block title %} Отчеты {% endblock title %}</title>
    {% endblock head %}
</head>
<body>
    {% block body %}
    {{ block.super }}
    {% block content %}
        <div class="container mt-4">
            <div class="row">
                <div class="col col-auto">
                    {% block sidebar %}
                    <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasStart" aria-controls="offcanvasStart">
                        Фильтры
                    </button>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel">
                        <div class="offcanvas-header">
                            <h5 id="offcanvasStartLabel">Информация</h5>
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            ...
                        </div>
                    </div>
                    {% endblock sidebar %}
                </div>
                <div class="col">
                    {% block reports %}
                    <h2>Сформировать отчет</h2>
                    {% endblock reports %}
                </div>
            </div>
        </div>
    {% endblock content %}
    {% endblock body %}
</body>
</html>