<!DOCTYPE html>
{% extends 'cabinet/base_cabinet.html' %}
{% load static %}
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
        <title>{% block title %} Статистика {% endblock title %}</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% endblock head %}
</head>
<body>
    {% block body %}
    {{ block.super }}
    {% block content %}
    <div class="container">
        <h2 class="mt-4">Статистика нарушений</h2>
        <div class="row">
            <div class="col">
                {% block table %}
                <table class="table table-hover table-bordered">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Месяц</th>
                            <th scope="col">Количество нарушений</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        {% for item in data %}
                        <tr>
                            <td>{{ item.month }}</td>
                            <td>{{ item.count }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="text-end fw-bold" colspan="1">Итого</td>
                            <td>{{ violations_count }}</td>
                        </tr>
                    </tbody>
                </table>
                {% endblock table %}
            </div>
        </div>
        <h3>Диаграммы</h3>
        <div class="row justify-content-center mt-4">
            <div class="col col-6">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
                <script>
                    const ctx = document.getElementById('myChart');
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: Array(`{{ months|safe }}`),
                            datasets: [{
                                label: 'Количество нарушений',
                                data: [77],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                beginAtZero: true
                                }
                            }
                        }
                    });
            </script>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col col-6">
                <div>
                    <canvas id="chart4"></canvas>
                </div>
                <script>
                    const ctx4 = document.getElementById('chart4');

                    new Chart(ctx4, {
                        type: 'pie',
                        data: {
                            labels: Array(`{{ months|safe }}`),
                            datasets: [{
                                label: 'Количество нарушений',
                                data: [77],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
            </script>
            </div>
        </div>
    </div>
    {% endblock content %}
    {% endblock body %}
</body>
</html>