{% extends 'cabinet/base_cabinet.html' %}
{% load static %}
<html lang="en">
<head>
    {% block head %}
        {{ block.super }}
        <title>{% block title %} Смотреть площадку {% endblock title %}</title>
    {% endblock head %}
</head>
<body>
    {% block body %}
    {{ block.super }}
    {% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col">
                {% block watch %}
                <h2>Смотреть площадку</h2>

                {% endblock watch %}
            </div>
            <div class="col col-auto">
                {% block sidebar %}
                <button class="btn btn-outline-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasStart" aria-controls="offcanvasStart">
                    Фильтры
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel">
                    <div class="offcanvas-header">
                        <h5 id="offcanvasStartLabel">Выбрать участок</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <form method="post">
                            {% csrf_token %}
                            {% for place in places %}
                            <div class="row">
                                <div class="col col-auto">
                                    <input type='checkbox' class="form-check-input" name="{{ place.pk }}" value="{{place.pk }}">
                                </div>
                                <div class="col">
                                    {{ place.name }}
                                </div>
                            </div>
                            {% endfor %}
                            {% if messages %}
                            <div class="messages">
                            {% for message in messages %}
                                <div class="error-message">
                                    {{ message }}
                                </div>
                            {% endfor %}
                            </div>
                            {% endif %}
                            <button type="button" class="btn btn-secondary mt-4" id="clean_inputs">Очистить выбор</button>
                            <button type="submit" class="btn btn-primary mt-4" onclick="location.href='{% url 'watch_site_add' %}'">Показать</button>
                        </form>
                    </div>
                </div>
                {% endblock sidebar %}
            </div>
        </div>
        <div class="row">
            <div class="col">
<!--                <iframe allow="autoplay" id="camera1" src="{% url 'stream_video' %}" width="640" height="480"> </iframe>-->
                <img src="{% url 'stream_video' %}" alt="Image" width="640" height="480">
                <img src="{% url 'stream_video' %}" alt="Image" width="640" height="480">
                <img src="{% url 'stream_video' %}" alt="Image" width="640" height="480">
                <img src="{% url 'stream_video' %}" alt="Image" width="640" height="480">
<!--                <video-->
<!--                    id="my-video"-->
<!--                    class="video-js"-->
<!--                    controls-->
<!--                    preload="auto"-->
<!--                    width="640"-->
<!--                    height="480"-->
<!--                    poster=""-->
<!--                    data-setup="{}"-->
<!--                >-->
<!--                    <source src="{% url 'stream_video' %}" type="video/mp4" />-->
<!--                </video>-->
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col">
                <div class="camera">
                    <iframe id="camera1" src="http://77.222.181.11:8080/mjpg/video.mjpg" allow="autoplay" width="800" height="600"> </iframe>
                    <source src = "http://77.222.181.11:8080/mjpg/video.mjpg" type = "video/mp4">
                    <button class="btn btn-outline-primary" id="playbtn">Play</button>
                    <button class="btn btn-outline-primary" id="pausebtn">Pause</button>
                    <script>

                    </script>
                </div>
            </div>
        </div>-->
    </div>
    <script>
        $('#clean_inputs').click(function (e) {
            // Iterate each checkbox
            $(':checkbox').each(function () {
                this.checked = false;
            });
        });
    </script>
    <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script>
    {% endblock content %}
    {% endblock body %}
</body>
</html>